<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Wir benötigen Zugriff auf deine Kamera, um ein Profilbild aufzunehmen.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Wir benötigen Zugriff auf deine Fotobibliothek, um ein Profilbild auszuwählen.</string>
	<key>CFBundleDisplayName</key>
	<string>GymTracker</string>
	<key>CFBundleIdentifier</key>
	<string>com.example.GymTracker</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>workout</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-TintedLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-TintedLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-TintedDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-TintedDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-ClearLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-ClearLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-ClearDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-ClearDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>